<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>COIMA - User Lists</title>   
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>                  
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container" align="center">
      <div class="starter-template">
        <br>        
        <!-- Small modal -->
        <div id="new-list-modal">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".new-list-modal">New List</button>   
          <div class="modal fade new-list-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">      
                <form class="form-new-list" method="POST">
                  <div class="modal-body">
                    <p>Enter new list name</p>
                    <input class="form-control input-sm" type="text" name="listname" >		   
                    <div class="modal-footer">
                      <button class="btn btn-default">Create</button>
		                </div>
                  </div> 
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Small modal -->
        <br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Lists for "{{user_name}}"</th>                
              </tr>
            </thead>
            <tbody>
                {{#list_results}}
                <tr>               
                  <td><a href="{{list_id}}">{{list_name}}</a></td>
                   <td align="right"><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>               
                {{/list_results}}
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{{search_previous_page}}">Previous</a></li>
            <li class="page-item"><a class="page-link" >{{search_page}}</a></li>
            <li class="page-item"><a class="page-link" href="{{search_next_page}}">Next</a></li>
          </ul>
      </div>      
    </main><!-- /.container -->   
  </body>
</html>